
<!-- <app-home></app-home> -->
 <!-- <app-add-task></app-add-task> -->
  <!-- <app-sign-up></app-sign-up> -->
  <ul class="nav justify-content-end bg-dark text-light">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signin">Sign In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="addtask">Add Task</a>
    </li>
    <button class="btn btn-outline-light m-2" (click)="logOut()">Log Out</button>
  </ul>
   <router-outlet></router-outlet>