<div class="container">
    <div class="row">
        <div class="col-6 bg-dark text-white">
            <h1>SIGN IN</h1>
            <!-- <input type="text" name="full_name" placeholder="Full Name" class="form-control mb-3" [(ngModel)]="full_name">
            <input type="text" name="phone_no" placeholder="Phone Number" class="form-control mb-3" [(ngModel)]="phone_no">
            <input type="email" name="email" placeholder="Email" class="form-control mb-3" [(ngModel)]="email">
            <input type="password" name="password" placeholder="Password" class="form-control mb-3" [(ngModel)]="password">
            <button class="btn btn-outline-dark">Sign Up</button> <br>
            <span>Already have an Account? <a href="">Sign In</a></span> -->
        </div>
        <div class="col-6 shadow">
            <h1>SIGN UP</h1>
            <input type="text" name="full_name" placeholder="Full Name" class="form-control mb-3" [(ngModel)]="full_name">
            <input type="text" name="phone_no" placeholder="Phone Number" class="form-control mb-3" [(ngModel)]="phone_no">
            <input type="email" name="email" placeholder="Email" class="form-control mb-3" [(ngModel)]="email">
            <input type="password" name="password" placeholder="Password" class="form-control mb-3" [(ngModel)]="password">
            <button class="btn btn-outline-dark" (click)="signup()">Sign Up</button> <br>
            <span>Already have an Account? <a href="">Sign In</a></span>
        </div>
    </div>
</div>
