<div class="container">
    <div class="row mt-5">
        <div class="col-6 mx-auto shadow">
            <h2 class="py-3 text-center">ADD TASKS</h2>
            <!-- <b>{{taskName}}</b> -->
            <input type="text" name="task_name" class="form-control mt-3" placeholder="Task Name" [(ngModel)] = "taskName">
            <input type="text" name="task_description" class="form-control mt-3" placeholder="Task Description" [(ngModel)] = "taskDescription">
            <input type="time" name="task_time" class="form-control mt-3" placeholder="Task Time" [(ngModel)] = "taskTime">
            <input type="date" name="task_date" class="form-control mt-3" placeholder="Task Date" [(ngModel)] = "taskDate">
            <button class="btn btn-outline-dark my-5 w-100" (click)="addTask()">ADD TASK</button>
        </div>
        <div class="col-6 shadow">
            <div class="row shadow py-3">
                <div class="col-3"><b>Task Name</b></div>
                <div class="col-3"><b>Task Desc.</b></div>
                <div class="col-3"><b>Task Time</b></div>
                <div class="col-3"><b>Task Date</b></div>
            </div>
            <div class="row shadow pt-3" *ngFor="let task of taskArray">
                <div class="col-3"><p>{{task.taskName}}</p></div>
                <div class="col-3"><p>{{task.taskDescription}}</p></div>
                <div class="col-3"><p>{{task.taskTime}}</p></div>
                <div class="col-3"><p>{{task.taskDate}}</p></div>
            </div>  
        </div>
    </div>
    
</div>
