<div class="container-fluid">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6 col-12 mt-5 text-center text-light p-5 mx-auto bg-dark shadow" style="border-radius: 10px;">
                <h4>WELCOME TO OUR TASK MANAGER</h4>
                <em class="fs-5">We manage your task!!!</em> 
                <div class="mt-4">
                    <button class="btn btn-light me-2" routerLink="/signin">Sign In</button>
                    <button class="btn btn-outline-light" routerLink="/signup">Sign Up</button>
                </div>
                
            </div>
        </div>
    </div>
    
</div>

