<div class="container-fluid bg-dark" style="height: 100vh;">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6 col-12 mt-5 text-center p-5 mx-auto bg-light shadow" style="border-radius: 10px;">
                <h4>WELCOME TO OUR TASK MANAGER</h4>
                <em>We manage your task!!!</em> 
                <div class="mt-3">
                    <button class="btn btn-dark me-2" routerLink="/signin">Sign In</button>
                    <button class="btn btn-outline-dark" routerLink="/signup">Sign Up</button>
                </div>
                
            </div>
        </div>
    </div>
    
</div>

